package com.some.core.navigation.router

import com.some.feature.settings.CommunicationPreferenceActivity

class AppSubRoute : ISubRoute {
    override fun registerSubRoute(map: HashMap<String, RouteMeta>) {
        // INSERT1
        map[ROUTE_COMMUNICATION_PREFERENCE] = RouteMeta(
            ROUTE_COMMUNICATION_PREFERENCE,
            CommunicationPreferenceActivity::class.java
        )
    }
}

const val ROUTE_COMMUNICATION_PREFERENCE = "preferences/notifications"
